<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.wangdy55.mapper.VolunteerRecordMapper">
    <resultMap id="summaryRecordResultMap" type="com.babybus.wangdy55.model.DTO.VolunteerRecordDto" extends="evalRecordResultMap">
        <association property="student" javaType="com.babybus.wangdy55.model.DTO.StudentDto">
            <result property="cardId" column="card_id"/>
            <result property="name" column="name"/>
            <result property="grade" column="grade"/>
            <result property="major" column="major"/>
            <result property="class1" column="class"/>
        </association>
    </resultMap>
    <resultMap id="evalRecordResultMap" type="com.babybus.wangdy55.model.DTO.EvalRecordDto">
        <id property="id" column="id" />
        <result property="stuId" column="stu_id" />
        <result property="evalStatus" column="eval_status" />
        <result property="evalTime" column="eval_time" />
        <result property="score" column="score" />
        <result property="remark" column="remark" />
    </resultMap>

    <select id="getVolunteerRecordList" resultType="com.babybus.wangdy55.model.DTO.VolunteerRecordDto" resultMap="summaryRecordResultMap">
        SELECT e.id, e.stu_id, e.eval_status, e.eval_time, e.score, e.remark,
            s.card_id, s.name, s.grade, s.major, s.class
        FROM eval_records e JOIN students s ON e.stu_id = s.id
        WHERE e.mat_type = '志愿服务'
    </select>
    <update id="updateVolunteerRecord">
        UPDATE eval_records
        SET eval_status = '已通过', score = #{record.score}, remark = #{record.remark}
        WHERE id = #{record.id}
    </update>
</mapper>