<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.stu.eval.mapper.material.ResearchMapper">

    <resultMap id="summaryResultMap" type="com.babybus.stu.eval.model.material.Research">
        <!-- 手动映射父类的属性 -->
        <result column="mat_id" property="matId"/>
        <result column="stu_id" property="stuId"/>
        <result column="judge_id" property="judgeId"/>
        <result column="ac_year" property="acYear"/>
        <result column="mat_type" property="matType"/>
        <result column="eval_status" property="evalStatus"/>
        <result column="remark" property="remark"/>
        <result column="file_url" property="fileUrl"/>
        <result column="submit_time" property="submitTime"/>
        <result column="eval_time" property="evalTime"/>
        <!-- 手动映射子类特有的属性 -->
        <result column="name" property="name"/>
        <result column="output_name" property="output_name"/>
        <result column="output_type" property="output_type"/>
        <result column="category" property="category"/>
        <result column="ranking" property="ranking"/>
        <result column="level" property="level"/>
        <result column="output_time" property="output_time"/>
    </resultMap>


    <insert id="storeResReq" parameterType="java.util.List">
        INSERT INTO research_achievement (stu_id, ac_year, output_name, output_type, category, ranking, level, output_time, name, file_url)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.stuId}, #{item.acYear}, #{item.output_name}, #{item.output_type}, #{item.category}, #{item.ranking}, #{item.level}, #{item.output_time}, #{item.name}, #{item.fileUrl})
        </foreach>
    </insert>


    <select id="checkResearch" resultType="com.babybus.stu.eval.model.common.DTO.Research.CheckResearch">
        SELECT e.ac_year, e.scholarship, e.research_score, s.user_id, s.card_id, s.name, s.school, s.grade, s.major
        FROM eval_result e
                 JOIN student s ON e.card_id = s.card_id
    </select>

    <select id="getResearchList" parameterType="int" resultType="com.babybus.stu.eval.model.common.DTO.Research.ReturnResearch">
        SELECT mat_id, output_name, output_type, category, ranking, level, DATE_FORMAT(output_time, '%Y-%m-%d') AS output_time, DATE_FORMAT(submit_time, '%Y-%m-%d') AS submit_time, eval_status, file_url FROM research_achievement WHERE stu_id = #{stu_id}
    </select>

    <update id="giveResearchScore" parameterType="int">
        UPDATE eval_result
        SET research_score = #{research_score}
        WHERE stu_id = #{stu_id}
    </update>

    <delete id="deleteResearch" parameterType="int">
        DELETE FROM research_achievement WHERE mat_id = #{mat_id}
    </delete>

    <select id="retrieveResearch" parameterType="int" resultType="com.babybus.stu.eval.model.material.Research">
        SELECT mat_id, stu_id, ac_year, mat_type,
               output_name, output_type,
               category, ranking, level,
               DATE_FORMAT(output_time, '%Y-%m-%d') AS output_time,
               DATE_FORMAT(submit_time, '%Y-%m-%d') AS submit_time,
               eval_status, remark, name, file_url, eval_time, judge_id
        FROM research_achievement WHERE stu_id = #{stu_id}
    </select>
</mapper>
