<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.material.GpaMapper">
    <resultMap id="gpaResultMap" type="com.babybus.common.model.material.Gpa">
        <result column="id" property="gpaId" />
        <result column="stu_id" property="stuId" />
        <result column="card_id" property="cardId" />
        <result column="ac_year" property="acYear" />
        <result column="gpa" property="gpa" />
        <result column="ranking" property="ranking" />
        <result column="base" property="base" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="confirm_time" property="confirmTime" />
    </resultMap>

    <insert id="insertGpa" parameterType="com.babybus.common.model.material.Gpa">
        <selectKey keyProperty="gpaId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO gpas (id, stu_id, card_id,ac_year, gpa, ranking, base, confirm_status, confirm_time)
        VALUES (#{gpaId}, #{stuId}, #{cardId}, #{acYear}, #{gpa}, #{ranking}, #{base}, #{confirmStatus}, #{confirmTime})
    </insert>

    <select id="getGpaById" resultType="com.babybus.common.model.material.Gpa" resultMap="gpaResultMap">
        SELECT * FROM gpas WHERE id = #{gpaId}
    </select>

    <select id="getGpaList" resultType="com.babybus.common.model.material.Gpa" resultMap="gpaResultMap">
        SELECT * FROM gpas WHERE stu_id = #{stuId}
    </select>

    <update id="updateGpa" parameterType="com.babybus.common.model.material.Gpa">
        UPDATE gpas
        SET gpa = #{gpa},
            ranking = #{ranking},
            base = #{base},
            confirm_status = #{confirmStatus},
            confirm_time = #{confirmTime}
        WHERE stu_id = #{stuId} AND ac_year = #{acYear}
    </update>

    <delete id="deleteGpaById">
        DELETE FROM gpas WHERE id = #{gpaId}
    </delete>

    <select id="listGpaPage" resultType="com.babybus.common.model.material.Gpa" resultMap="gpaResultMap">
        SELECT *
        FROM gpas
                 LIMIT #{start}, #{pageSize}
    </select>

    <select id="countGpa" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM gpas
    </select>

</mapper>
