<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.material.ResearchAchieveMapper">
    <resultMap id="researchAchieveResultMap" type="com.babybus.common.model.material.ResearchAchieve" extends="materialResultMap">
        <result property="outputName" column="output_name" />
        <result property="outputType" column="output_type" />
        <result property="category" column="category" />
        <result property="ranking" column="ranking" />
        <result property="outputTime" column="output_time" />
    </resultMap>
    <resultMap id="materialResultMap" type="com.babybus.common.model.material.Material">
        <result column="mat_id" property="matId" />
        <result column="stu_id" property="stuId" />
        <result column="judge_id" property="judgeId" />
        <result column="ac_year" property="acYear" />
        <result column="mat_type" property="matType" />
        <result column="eval_status" property="evalStatus" />
        <result column="remark" property="remark" />
        <result column="file_url" property="fileUrl" />
        <result column="submit_time" property="submitTime" />
        <result column="eval_time" property="evalTime" />
    </resultMap>
    
    <insert id="insertResearchAchieve" parameterType="com.babybus.common.model.material.ResearchAchieve">
        <selectKey keyProperty="matId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO research_achievement (stu_id, judge_id, ac_year, mat_type, eval_status, remark, file_url, submit_time, eval_time,
            output_name, output_type, category, ranking, output_time)
        VALUES (#{stuId}, #{judgeId}, #{acYear}, #{matType}, #{evalStatus}, #{remark}, #{fileUrl}, #{submitTime}, #{evalTime},
            #{outputName}, #{outputType}, #{category}, #{ranking}, #{outputTime})
    </insert>

    <select id="getResearchAchieveById" resultType="com.babybus.common.model.material.ResearchAchieve" resultMap="researchAchieveResultMap">
        SELECT * FROM research_achievement WHERE mat_id = #{matId}
    </select>

    <select id="getResearchAchieveList" resultType="com.babybus.common.model.material.ResearchAchieve" resultMap="researchAchieveResultMap">
        SELECT * FROM research_achievement WHERE stu_id = #{stuId}
    </select>

    <update id="updateResearchAchieve" parameterType="com.babybus.common.model.material.ResearchAchieve">
        UPDATE research_achievement
        SET stu_id = #{stuId}, ac_year = #{acYear}, judge_id = #{judgeId}, ac_year = #{acYear}, mat_type = #{matType},
            eval_status = #{evalStatus}, remark = #{remark}, file_url = #{fileUrl}, submit_time = #{submitTime}, eval_time = #{evalTime},
            output_name = #{outputName}, output_type = #{outputType}, category = #{category}, ranking = #{ranking}, output_time = #{outputTime}
        WHERE mat_id = #{matId}
    </update>

    <delete id="deleteResearchAchieveById">
        DELETE FROM research_achievement WHERE mat_id = #{matId}
    </delete>
</mapper>
