<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.material.SumMapper">
    <resultMap id="summaryResultMap" type="com.babybus.common.model.material.Summary">
        <!-- 手动映射父类的属性 -->
        <result column="mat_id" property="matId"/>
        <result column="stu_id" property="stuId"/>
        <result column="judge_id" property="judgeId"/>
        <result column="ac_year" property="acYear"/>
        <result column="mat_type" property="matType"/>
        <result column="eval_status" property="evalStatus"/>
        <result column="remark" property="remark"/>
        <result column="file_url" property="fileUrl"/>
        <result column="submit_time" property="submitTime"/>
        <result column="eval_time" property="evalTime"/>
        <!-- 手动映射子类特有的属性 -->
        <result column="politic_sum" property="politicSum"/>
        <result column="behave_sum" property="behaveSum"/>
        <result column="study_sum" property="studySum"/>
        <result column="health_sum" property="healthSum"/>
    </resultMap>

    <insert id="insertSummary" parameterType="com.babybus.common.model.material.Summary">
        <!-- Set the generated keys to the matId property -->
        <selectKey keyProperty="matId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO summary (stu_id, judge_id, ac_year, mat_type, eval_status, remark, file_url, submit_time, eval_time,
            politic_sum, behave_sum, study_sum, health_sum)
        VALUES (#{stuId}, #{judgeId}, #{acYear}, #{matType}, #{evalStatus}, #{remark}, #{fileUrl}, #{submitTime}, #{evalTime},
            #{politicSum}, #{behaveSum}, #{studySum}, #{healthSum})
    </insert>

    <select id="getSummaryById" resultType="com.babybus.common.model.material.Summary" resultMap="summaryResultMap">
        SELECT * FROM summary WHERE mat_id = #{matId}
    </select>

    <select id="getSummaryList" resultType="com.babybus.common.model.material.Summary" resultMap="summaryResultMap">
        SELECT * FROM summary WHERE stu_id = #{stuId}
    </select>

    <update id="updateSummary" parameterType="com.babybus.common.model.material.Summary">
        UPDATE summary SET stu_id = #{stuId}, ac_year = #{acYear}, judge_id = #{judgeId}, ac_year = #{acYear},
            mat_type = #{matType}, eval_status = #{evalStatus}, remark = #{remark}, file_url = #{fileUrl},
            submit_time = #{submitTime}, eval_time = #{evalTime},
            politic_sum = #{politicSum}, behave_sum = #{behaveSum}, study_sum = #{studySum}, health_sum = #{healthSum}
        WHERE mat_id = #{matId}
    </update>

    <delete id="deleteSummaryById" parameterType="int">
        DELETE FROM summary WHERE mat_id = #{matId}
    </delete>
</mapper>
