<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.material.VolunteerActivityMapper">
    <resultMap id="volunteerActivityResultMap" type="com.babybus.common.model.material.VolunteerActivity" extends="materialResultMap">
        <result property="activityTime" column="activity_time" />
        <result property="activityName" column="activity_name" />
        <result property="depart" column="depart" />
        <result property="duration" column="duration" />
    </resultMap>
    <resultMap id="materialResultMap" type="com.babybus.common.model.material.Material">
        <result column="mat_id" property="matId" />
        <result column="stu_id" property="stuId" />
        <result column="judge_id" property="judgeId" />
        <result column="ac_year" property="acYear" />
        <result column="mat_type" property="matType" />
        <result column="eval_status" property="evalStatus" />
        <result column="remark" property="remark" />
        <result column="file_url" property="fileUrl" />
        <result column="submit_time" property="submitTime" />
        <result column="eval_time" property="evalTime" />
    </resultMap>
    
    <insert id="insertVolunteerActivity" parameterType="com.babybus.common.model.material.VolunteerActivity">
        <selectKey keyProperty="matId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO volunteer_activity (stu_id, judge_id, ac_year, mat_type, eval_status, remark, file_url, submit_time, eval_time,
            activity_time, activity_name, depart, duration)
        VALUES (#{stuId}, #{judgeId}, #{acYear}, #{matType}, #{evalStatus}, #{remark}, #{fileUrl}, #{submitTime}, #{evalTime},
            #{activityTime}, #{activityName}, #{depart}, #{duration})
    </insert>

    <select id="getVolunteerActivityById" resultType="com.babybus.common.model.material.VolunteerActivity" resultMap="volunteerActivityResultMap">
        SELECT * FROM volunteer_activity WHERE mat_id = #{matId}
    </select>

    <select id="getVolunteerActivityList" resultType="com.babybus.common.model.material.VolunteerActivity" resultMap="volunteerActivityResultMap">
        SELECT * FROM volunteer_activity WHERE stu_id = #{stuId}
    </select>

    <update id="updateVolunteerActivity" parameterType="com.babybus.common.model.material.VolunteerActivity">
        UPDATE volunteer_activity
        SET stu_id = #{stuId}, ac_year = #{acYear}, judge_id = #{judgeId}, ac_year = #{acYear}, mat_type = #{matType},
            eval_status = #{evalStatus}, remark = #{remark}, file_url = #{fileUrl}, submit_time = #{submitTime}, eval_time = #{evalTime},
            activity_time = #{activityTime}, activity_name = #{activityName}, depart = #{depart}, duration = #{duration}
        WHERE mat_id = #{matId}
    </update>

    <delete id="deleteVolunteerActivityById">
        DELETE FROM volunteer_activity WHERE mat_id = #{matId}
    </delete>
</mapper>
