<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.EvalRecordMapper">
    <resultMap id="evalRecordMap" type="com.babybus.common.model.EvalRecord">
        <result property="id" column="id" />
        <result property="stuId" column="stu_id" />
        <result property="judgeId" column="judge_id" />
        <result property="acYear" column="ac_year" />
        <result property="matType" column="mat_type" />
        <result property="evalStatus" column="eval_status" />
        <result property="score" column="score" />
        <result property="eval_time" column="evalTime" />
        <result property="remark" column="remark" />
    </resultMap>

<!--    <insert id="insertEvalRecord" parameterType="com.babybus.common.model.EvalRecord">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO eval_records (stu_id, ac_year, type, eval_time)
        VALUES (#{stuId}, #{acYear}, #{type}, NULL)
    </insert>-->
    <insert id="insertEvalRecord" parameterType="com.babybus.common.model.EvalRecord">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO eval_records (stu_id, judge_id, ac_year, mat_type, eval_status, score, eval_time, remark)
        VALUES (#{stuId}, #{judgeId}, #{acYear}, #{matType}, #{evalStatus}, #{score}, CURRENT_TIMESTAMP, #{remark})
    </insert>


    <select id="getEvalRecord" resultType="com.babybus.common.model.EvalRecord" resultMap="evalRecordMap">
        SELECT *
        FROM eval_records
        WHERE  mat_type = #{matType}
    </select>

    <update id="updateEvalRecord" parameterType="com.babybus.common.model.EvalRecord">
        UPDATE eval_records SET
        stu_id = #{stuId},
        judge_id = #{judgeId},
        ac_year = #{acYear},
        eval_status = #{evalStatus},
        score = #{score},
        eval_time = CURRENT_TIMESTAMP,
        remark = #{remark}
        WHERE id = #{id}
    </update>

</mapper>