<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.common.mapper.FacultyMapper">
    <resultMap id="facultyResultMap" type="com.babybus.common.model.user.Faculty" extends="userResultMap">
        <result property="depart" column="depart"/>
        <result property="job" column="job"/>
    </resultMap>

    <resultMap id="userResultMap" type="com.babybus.common.model.user.BaseUser">
        <id property="id" column="id"/>
        <result property="cardId" column="card_id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="roleId" column="role_id"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
    </resultMap>

    <insert id="insertFaculty" parameterType="com.babybus.common.model.user.Faculty" useGeneratedKeys="true">
        <!-- 将生成的 user_id 字段值，更新到对象的 userId 属性 -->
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO faculties (id, card_id, name, role, role_id, password, status, birthday, gender, phone, email, depart, job)
        VALUES (#{id}, #{cardId}, #{name}, #{role}, #{roleId}, #{password}, #{status}, #{birthday}, #{gender}, #{phone}, #{email}, #{depart}, #{job})
    </insert>

    <select id="getFacultyList" resultType="com.babybus.common.model.user.Faculty" resultMap="facultyResultMap">
        SELECT *
        FROM faculties
    </select>

    <select id="getFacultyById" resultType="com.babybus.common.model.user.Faculty" resultMap="facultyResultMap">
        SELECT *
        FROM faculties
        WHERE id = #{id}
    </select>

    <select id="getFacultyByCardId" resultMap="facultyResultMap">
        SELECT *
        FROM faculties
        WHERE card_id = #{cardId}
    </select>

    <select id="getFacultyByRole" resultMap="facultyResultMap">
        SELECT *
        FROM faculties
        WHERE role = #{role}
    </select>

    <update id="updateFaculty" parameterType="com.babybus.common.model.user.Faculty">
        UPDATE faculties
        SET card_id = #{cardId},
            name = #{name},
            role = #{role},
            role_id = #{roleId},
            password = #{password},
            status = #{status},
            birthday = #{birthday},
            gender = #{gender},
            phone = #{phone},
            email = #{email},

            depart = #{depart},
            job = #{job}
        WHERE id = #{id}
    </update>

    <delete id="deleteFacultyById">
        DELETE
        FROM faculties
        WHERE id = #{id}
    </delete>
</mapper>