<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.babybus.yudingyi.mapper.ResearchMapper">

    <resultMap id="researchResultMap" type="com.babybus.yudingyi.model.Research">
        <!-- 手动映射父类的属性 -->
        <result column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="card_id" property="cardId"/>
        <result column="ac_year" property="acYear"/>
        <result column="mat_type" property="matType"/>
        <result column="submit_time" property="submitTime"/>
        <result column="file_url" property="fileUrl"/>
        <!-- 手动映射子类特有的属性 -->
        <result column="file_name" property="fileName"/>
        <result column="output_name" property="outputName"/>
        <result column="output_type" property="outputType"/>
        <result column="category" property="category"/>
        <result column="description" property="description"/>
        <result column="output_time" property="outputTime"/>
    </resultMap>


    <insert id="storeResReq" parameterType="java.util.List">
        INSERT INTO research_achievements (stu_id, card_id, ac_year, output_name, output_type, category, output_time, file_name, file_url, description)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.stuId}, #{item.cardId}, #{item.acYear}, #{item.outputName}, #{item.outputType}, #{item.category}, #{item.outputTime}, #{item.fileName}, #{item.fileUrl}, #{item.description})
        </foreach>
    </insert>


    <select id="checkResearch" resultType="com.babybus.yudingyi.model.DTO.Research.CheckResearch">
        SELECT e.ac_year, e.scholarship, e.research_score, s.user_id, s.card_id, s.name, s.school, s.grade, s.major
        FROM eval_result e
                 JOIN student s ON e.card_id = s.card_id
    </select>

    <select id="getResearchList" parameterType="int" resultMap="researchResultMap">
        SELECT * FROM research_achievements WHERE stu_id = #{id}
    </select>

    <update id="giveResearchScore" parameterType="int">
        UPDATE eval_results
        SET research_score = #{researchScore}
        WHERE stu_id = #{stuId}
    </update>

    <delete id="deleteResearch" parameterType="int">
        DELETE FROM research_achievements WHERE mat_id = #{mat_id}
    </delete>

    <select id="retrieveResearch" parameterType="int" resultType="com.babybus.yudingyi.model.Research">
        SELECT mat_id, stu_id, ac_year, mat_type,
               output_name, output_type,
               category, ranking, level,
               DATE_FORMAT(output_time, '%Y-%m-%d') AS output_time,
               DATE_FORMAT(submit_time, '%Y-%m-%d') AS submit_time,
               eval_status, remark, name, file_url, eval_time, judge_id
        FROM research_achievements WHERE stu_id = #{stu_id}
    </select>
</mapper>
